@model IEnumerable<PropertyWebApp.ViewModels.ListPropertyViewModel>

@{
    ViewData["Title"] = "List of Properties";
}

<div>
    <h1 class="display-4">@ViewData["Title"]</h1>
    <table class="table table-striped table-bordered">
        <tr>

            <th>Address</th>
            <th>Year Built</th>
            <th>List Price $</th>
            <th>Monthly Rent $</th>
            <th>Gross Yield %</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.address</td>
                <td>@item.yearBuilt</td>
                <td>@(string.Format("{0:C}", item.listPrice))</td>
                <td>@(string.Format("{0:C}", item.monthlyRent))</td>
                <td>@($"{Math.Round(item.grossYield, 2)}%") </td>
                <td style="text-align: center;">
                    @*<a asp-action="Save" asp-route-id="@item.propertyId" class="btn btn-sm btn-primary">Save</a>*@
                    <button class="btn btn-sm btn-primary btnSave"> Save</button>
                </td>
            </tr>
        }
    </table>
</div>
